{
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 20px;
    text-align: center;
    background: #729A7C;
    color: rgb(226, 17, 17);
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }

  .form-control{
    border-color: blue;
    margin-left: auto;
    border-style: solid;
    border-color: #0af038;
    
  }
  
  .input-group{
    margin-right: 5%;
    border-style: solid;
    border-color: #0af038;
  }
  
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .lside {
    flex: 10%;
    background-color: #00410D;
    padding: 20px;
    margin-left: 1.9%;
   
    
    
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: #00410D;
    padding: 20px;

  }
  
  .rside {
    flex-wrap: wrap-reverse;
    flex: 10%;
    background-color: #00410D;
    padding: 20px;
    border-style: solid;
    border: #07b229;
    
  
    
    
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border: 5px solid rgb(84, 120, 228);
    
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

  .fakeimg{
    border-color: blue;
  }

  .header{
    margin: auto;
    background-color:rgb(116, 152, 53);

  }

  #logo{
    width: fit-content;
    align-self: flex-end;
  }