@font-face {
  src: url(../fonts/digital-7.ttf);
  font-family: digital;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  min-height: 100vh;
  font-family: digital;
  margin: 0;
  background: #00410D;
}

/* Header/logo Title */
.header {
  margin: auto;
  padding: 20px;
  text-align: left;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(16, 253, 28);
}

.titles {
  color: rgb(16, 253, 100);
}

/* Class for user buttons */
.btn-outline-secondary {
  color: rgb(16, 253, 28);
  border-color: rgb(16, 253, 28);
}

/* Class for user input buttons on hover */
.btn-outline-secondary:hover {
  color: #00410D;
  border-color: rgb(16, 253, 28);
}

.input-group {
  margin-right: 15px;
  justify-content: center;
}

.row {
  flex-direction: column;
}

.row-no-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 10px;
}

.input-group-tickbox {

  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* padding: 0.187rem 0.3rem; */
  padding: 0.38rem 0.3rem;
  
  margin: 0px 0px 2px 0px;
  gap: 5px;
  color: rgb(16, 253, 28);
  text-align: center;
  white-space: nowrap;
  background-color: black;
  border: 1px solid rgb(16, 253, 28);
  border-radius: 0.25rem;
}

.tickbox-fw {
  /* margin: 0px 5px 0px 0px; */
  margin: 0 3px 0 2.5px;
}

#location {
  margin-top: 7rem;
  max-width: 24.55rem;
}

#location-input-group {
  margin-left: 0.5rem;
}

#severity-row {
  margin-right: 10px;
}

#level-label {
  display: none;
}

#severity-filters {
  width: 100%;
  left: 1.08rem;
  justify-content: flex-end;
  cursor: pointer;
}

#severity-filters input[type=checkbox] {
  display: none;
}

.form-control {
  margin-left: auto;
  border-style: solid;
  border-color: #0af038;
  padding-left: 0.375rem;
}

.btn:hover {
  background: rgb(16, 253, 28);
}

.btn-wide {
  display: flex;
  flex-direction: column;
  border-radius: 0;
  padding: 0.375rem 2.5rem;
}

/* Makes the input field placeholder italics */
::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

/* Peripheral elements sit in front of map */
.fore {
  position: relative;
  z-index: 1;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */
.lside {
  flex: 14%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-left: 1rem;

}

/* Main column */
.main {
  /* changes the width of the right & left panels by changing the width of the main */
  flex: 60%;
  background-color: #00410D;
  padding: 1rem 0rem 1rem 0rem;
  visibility: hidden;
}

.rside {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-right: 1rem;
  flex-wrap: wrap-reverse;
  flex: 11%;
  border-style: solid;
  border: #07b229;
}

#history-btns {
  width: 100%;
}

#history-btns .btn {
  margin-left: -15px;
}

.lower {
  flex: 100%;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;

}

/* Fake image, just for this example */
.fakeimg {
  background-color: rgb(0, 51, 0, 0.85);
  width: 100%;
  Height: 100%;
  padding: 20px;
  margin: 0.25rem 0rem 1rem 0rem;
  border: 2px solid rgb(16, 253, 28);
  box-shadow: 0px 0px 8px #4ff370;
  border-radius: 10px;
}

/* Charts */
#chartOne,
#chartTwo,
#chartThree,
#chartFour {
  min-width: 150px;
}

.title-block {
  top: -25px;
  height: 25px;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: black;
  top: 15px;
  justify-content: flex-start;
}

.title-block::after {
  content: "Flood Watch";
  position: absolute;
  color: white;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.14rem;
  left: 1.27rem;
  top: 72px;
}

.neon {
  top: 25px;
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
}

.neon .text {
  background-color: black;
  color: white;

  /* Controls the size of the text and the size of the containing box */
  font-size: 6rem;
  line-height: 5rem;

  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}

.neon .text::before {
  content: "FW";
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.neon .full-name {
  /* Show Title as initials */
  display: none;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, #07b229, green, #00410D);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background:
    radial-gradient(circle,
      white,
      transparent 25%) center / 25% 25%,
    radial-gradient(circle,
      white,
      #00410D 0%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
    transform: translate(50%, 50%);
  }
}

footer {
  height: 3.5rem;
}

.copyright-text {
  padding-bottom: 20px;
  background-color: black;
  padding: 20px;
}

@media screen and (min-width: 700px) {
  .row {
    flex-direction: row;
  }
  #header-components {
    flex-direction: column;
  }
}

@media screen and (min-width: 565px) {
  #location {
    width: calc(100% - 15rem);
  }
  #severity-row {
    margin-top: -3.4rem;
  }
}

@media screen and (min-width: 445px) {

  .title-block {
    margin-left: 0.3rem;
  }

  .neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
    width: 390px;
    height: 56px;
    /* Obscure edge of gradient */
    box-shadow: inset -35px 0 0 black, inset 0 -35px 0 black, inset 0 35px 0 black;
  }

  .neon .text {
    background-color: black;
    color: white;
    font-size: 3.125rem;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    line-height: 56px;
  }

  .neon .text::before {
    display: inline;
    content: "Flood Watch";
    text-transform: uppercase;
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
  }

  .neon .full-name {
    display: inline;
  }

  .title-block::after {
    content: none;
  }

  #location {
    margin-top: 4.7rem;
  }

  #severity-filters {
    left: 0.77rem;
  }
}